body {
padding: 0;
margin: 0;
font-family: 'Rubic';
font-weight: 400; 
font-size: 13px; 
}
.container {
	max-width: 1200px;
	margin: 0 auto; 
}
a {
	text-decoration: none; 
}

.topheader {
	background: #000;
	color: #fff;
}
.bottomheader {
	background: #f93c00;
	color: #fff;
	line-height: 30px;
	/*border-top: 10px solid #f93c00;
	border-bottom: 10px solid #f93c00;
	это можно вместо padding: 10px 0; - Первое значение устанавливает поля от верхнего и нижнего краёв, второе — от левого и правого.*/
}
}
.f_block {
	border-top: 1px solid #e5e5e5;
}
.flexdesk {
	display: flex;
}
aside {
	flex: 0 0 192px;
	margin-right: 20px;
}
.maincontent {
	flex: 1 1 auto;
}